<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Admin Panel</title>
    <link href="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/style.min.css" rel="stylesheet" />
    <link href="/admin/css/styles.css" rel="stylesheet" />
    <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
</head>
<body class ="sb-nav-fixed">
    <partial name="_UstBar" /> @* bu index.htmlden üst barı aldık layoutadminde ustbar.cshtml diye tanımladık. ve ustbara yapıstırdık o kodu. *@
    <div id="layoutSidenav">
        <partial name="_SolMenu" /> @* bu index.htmlden sol menüyü aldık layoutadminde solmenu.cshtml diye tanımladık. ve sol menüye yapıstırdık o kodu. *@
        <div id="layoutSidenav_content">
            <main role="main">
                <div class="container-fluid px-4">
                    <h1 class="mt-4">@ViewData["Title"]</h1>
                    @RenderBody()
                </div>
            </main>
        </div>
        
    </div>

    @* <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2025 - Eticaret.WebUI - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer> *@
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.20.0/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/4.0.0/jquery.validate.unobtrusive.min.js"></script>
    <script src="/admin/js/scripts.js"></script>
    
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
